<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>E-Book регистрация</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='register_login/style.css') }}">
</head>
<body>

<div class="wrapper">
  <div class="auth-card">
    <img class="back-img" src="{{ url_for('static', filename='register_login/images/background.svg') }}">
    <div class="left">
      <img src="{{ url_for('static', filename='register_login/images/books.svg') }}" alt="books">
    </div>

    <div class="right">
      <h2>Добро пожаловать!</h2>
      <p class="subtitle">Зарегистрируйте аккаунт</p>

      <form action="{{ url_for('auth_reg.register') }}" method="POST">
        <input type="text" name="username" placeholder="Введите имя"
               value="{{ form_data.username }}" required>

        <input type="email" name="email" placeholder="Введите почту"
               value="{{ form_data.email }}" required>

        <input type="password" name="password" placeholder="Введите пароль" required>
        <input type="password" name="confirm_password" placeholder="Подтвердите пароль" required>

        <button type="submit">Зарегистрироваться</button>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <p class="message {{ category }}">{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </form>

      <p class="link">Уже есть аккаунт? <a href="{{ url_for('auth_login.login') }}">Войти</a></p>
    </div>
  </div>
</div>

</body>
</html>